
#abc{
   width: 410px;
   height: 300px; 
   border: 3px solid red;
   border-radius: 40px;
   padding: 40px;
   background-color: rgb(155, 202, 25);
   margin: 100px;
   color: rgb(226, 181, 16);
   text-align: center;
}
#abc :hover{
background-color: blue;
color: black;
}
#b{
    border: 2px solid blue;
    border-radius: 30px;
    background-color: rgb(19, 167, 212);
    margin-top: 20px;
    width: 340px;
    height: 60px;
  
}
#a{
    border: 1px solid red;
    border-radius: 30px;
    padding: 16px;
    width: 310px;
    height: 25px;
    background-color: brown;
}
#f{
    background-color: black;
    border: 1px solid gold;
    text-align: center;
    color: white;
}

.ab{
    border: 2px solid rgb(74, 12, 182);
    border-radius: 30px;
    width: 340px;
    height: 50px;
    text-align: center;
    color: blue;
    margin: 20px;
    margin-left: 35px;
    background-color: aqua;
}