#up{
    border: 2px solid red;
    width: 200px;
   height: 150px;
}

#a{
    border: 3px solid black;
    color: blueviolet;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 300px;
}
.abc{
   width: 200px;
   height: 200px; 
   border: 3px solid red;
   padding: 20px;
   margin: 20px;
   color: rgb(226, 181, 16);
}